body {
    font-family: sans-serif;
    padding: 20px;
}

#btn-cargar {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
}

#resultado {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 200px;
}

.post {
    border-bottom: 1px solid #eee;
    padding: 5px 0;
}